

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: boxopay_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - boxopay-network

  backend:
    build: ./backend
    ports:
      - "3001:3001"
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=boxopay_db
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - ELASTICSEARCH_HOST=http://elasticsearch:9200
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: sh -c "sleep 20 && npm run dev"
    depends_on:
      - mysql
    networks:
      - boxopay-network
    

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - boxopay-network

  frontend:
    image: nginx:alpine
    ports:
    - "3000:80"
    volumes:
    - ./frontend:/usr/share/nginx/html
    networks:
    - boxopay-network
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    networks:
      - boxopay-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.9.0
    ports:
    - "5601:5601"
    environment:
    - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
    - elasticsearch
    networks:
    - boxopay-network
  prometheus:
    image: prom/prometheus:latest
    ports:
    - "9090:9090"
    volumes:
    - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
    - '--config.file=/etc/prometheus/prometheus.yml'
    - '--web.enable-lifecycle'
    networks:
    - boxopay-network

  node-exporter:
    image: prom/node-exporter:latest
    ports:
    - "9100:9100"
    networks:
    - boxopay-network
  
  grafana:
    image: grafana/grafana:latest
    ports:
    - "3002:3000"
    environment:
    - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
    - prometheus
    networks:
    - boxopay-network

volumes:
  mysql_data:

networks:
  boxopay-network:
    driver: bridge

